{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    Lemonpy | Register
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static "blog_app/register.css" %}">
{% endblock %}


{% block content %}
    <div class="container register">
        <h1 class="h1-register">Register</h1>
        <form class="continer mt-4" action="" method="POST" novalidate>
            {{ user_form | crispy }}
            {% csrf_token %}

            <input type="submit" value="Create Account" class="btn btn-dark">  
        </form>
    </div>
{% endblock %}