body {
    background-color: #FFFFD2;
    font-family: Raleway;
}

.main-div {
    width: 600px;
}

.liked-imgs {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  img {
    max-width: 100%
  }

  .image {
    flex-basis: 40%
  }

  .text {
    font-size: 20px;
    padding-left: 20px;
  }

  .post-title {
    font-size: 26px;
    margin-bottom: 8px
  }
  
  .post-author {
    font-size: 16px;
    margin-bottom: 8px
  }

  .liked-date {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 8px
  }

  .title {
    font-size:35px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 300;
  }

  .main-div222 {
    margin-top: 15%;
  }


@media (max-width: 575px) {
    .main-div {
        max-width: 450px;
    }
    .liked-imgs {
        width: 150px;
        height: 150px;
    }
    .post-title {
        font-size: 22px;
        margin-bottom: 6px;
        padding-top: 1px;
    }
    .post-author {
        font-size: 13px;
        margin-bottom: 6px
    }
    .liked-date {
        font-size: 12px;
        font-style: italic;
        margin-bottom: 7px
    }
    .comment-p {
        font-size: 13px;
        margin-bottom: 8px;
    }
    .image {
        flex-basis: 36%;
    }
    .container1 {
        max-width: 450px;
    }
    .text-center {
        max-width: 450px;
    }
}

@media (max-width: 480px) {
    .main-div {
        max-width: 370px;
    }
    .liked-imgs {
        width: 100px;
        height: 100px;
    }
    .post-title {
        font-size: 18px;
        margin-bottom: 4px;
        padding-top: 2px;
    }
    .post-author {
        font-size: 11px;
        margin-bottom: 4px
    }
    .liked-date {
        font-size: 10px;
        font-style: italic;
        margin-bottom: 5px
    }
    .comment-p {
        font-size: 11px;
        margin-bottom: 8px;
    }
    .text {
        font-size: 20px;
        padding-left: 12px;
        max-width: 195.4px;
    }
    .image {
        flex-basis: 30%;
    }
}