{% extends "base.html" %}
{% load static %}


{% block title %}
    Lemonpy | All Posts
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static "blog_app/all_posts.css" %}">
{% endblock %}


{% block context %}
    <div class="contianer mt-5 text-center">
        <h1>All Posts</h1>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 text-center div-each-article mb-5">
                <h3>Classic Lemon Py</h3>
                <img class="post-image" src="{% static "blog_app/images/classic-lemon-py.png" %}" alt="Classic Lemon Py" />
                <div class="post__content> text-center"
                    <p>
                        4.8
                    </p>
                </div>
            </div>
        
            <div class="col-lg-4 text-center div-each-article mb-5">
                <h3>Classic Lemon Py</h3>
                <img class="post-image" src="{% static "blog_app/images/classic-lemon-py.png" %}" alt="Classic Lemon Py" />
                <div class="post__content> text-center"
                    <p>
                        4.8
                    </p>
                </div>
            </div>

            <div class="col-lg-4 text-center div-each-article mb-5">
                <h3>Classic Lemon Py</h3>
                <img class="post-image" src="{% static "blog_app/images/classic-lemon-py.png" %}" alt="Classic Lemon Py" />
                <div class="post__content> text-center"
                    <p>
                        4.8
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center div-each-article mb-5">
                <h3>Classic Lemon Py</h3>
                <img class="post-image" src="{% static "blog_app/images/classic-lemon-py.png" %}" alt="Classic Lemon Py" />
                <div class="post__content> text-center"
                    <p>
                        4.8
                    </p>
                </div>
            </div>
        
            <div class="col-lg-4 text-center div-each-article mb-5">
                <h3>Classic Lemon Py</h3>
                <img class="post-image" src="{% static "blog_app/images/classic-lemon-py.png" %}" alt="Classic Lemon Py" />
                <div class="post__content> text-center"
                    <p>
                        4.8
                    </p>
                </div>
            </div>

            <div class="col-lg-4 text-center div-each-article mb-5">
                <h3>Classic Lemon Py</h3>
                <img class="post-image" src="{% static "blog_app/images/classic-lemon-py.png" %}" alt="Classic Lemon Py" />
                <div class="post__content> text-center"
                    <p>
                        4.8
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center div-each-article mb-5">
                <h3>Classic Lemon Py</h3>
                <img class="post-image" src="{% static "blog_app/images/classic-lemon-py.png" %}" alt="Classic Lemon Py" />
                <div class="post__content> text-center"
                    <p>
                        4.8
                    </p>
                </div>
            </div>
        
            <div class="col-lg-4 text-center div-each-article mb-5">
                <h3>Classic Lemon Py</h3>
                <img class="post-image" src="{% static "blog_app/images/classic-lemon-py.png" %}" alt="Classic Lemon Py" />
                <div class="post__content> text-center"
                    <p>
                        4.8
                    </p>
                </div>
            </div>

            <div class="col-lg-4 text-center div-each-article mb-5">
                <h3>Classic Lemon Py</h3>
                <img class="post-image" src="{% static "blog_app/images/classic-lemon-py.png" %}" alt="Classic Lemon Py" />
                <div class="post__content> text-center"
                    <p>
                        4.8
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
