{% extends "base.html" %}
{% load static %}


{% block title %}
    lemonpy
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static "blog_app/css/index.css" %}">
{% endblock %}


{% block content %}
    <div class="container text-center">
        <h3 class="h3-main">Recent Posts</h3>
        <div class="row">
            {% for post in recent_posts %}
                <div class="col-lg-4 main-col-div">
                    <a class=""href="{% url "single-post" post.slug %}" >
                        <img class="img-1" src="{{post.image.url}}">
                    </a>
                    <div class="post-content">
                        <h5 class="h5-title">{{post.title}}</h5>
                        <p class="p-author">by {{post.author}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}