{% extends "base.html" %}
{% load static %}



{% block title %} {% endblock %}

{% block css_styles %} 
    <link rel="stylesheet" href="{% static "blog_app/css/my_comments.css" %}">
{% endblock %}

{% block content %} 

    <div class="container mt-5 mb-5 main-div">
        <h3 class="text-center">Your Comments</h3>
        {% for post in posts_list %}
            <div class="container1 mt-5">
                <div class="image">
                    <a href="{% url "single-post" post.slug %}"><img class="liked-imgs" src="{{ post.image.url }}" alt="{{post.image}}"/></a>
                </div>
                <div class="text">
                    <h6 class="post-title">{{ post.title }}</h6>
                    <p class="post-author"> Post Author: {{ post.author }} </p>
                    <p class="liked-date">Comment Date: {{ post.date_time_comment }}</p>
                    <p class="comment-p">"{{ post.comment_content }}"</p>
                </div>
            </div>
        {% endfor %}
    </div>

    
{% endblock %}
