{% extends "base.html" %}
{% load static %}



{% block title %} {% endblock %}

{% block css_styles %} 
    <link rel="stylesheet" href="{% static "blog_app/css/single_post.css" %}">
{% endblock %}

{% block content %} 
    <div class="container">
        <h3>Posts You've Liked</h3>
        {% for post in my_list %}
            {{ post }}
            <!-- {{ post.title }}
            {{ post.author }}
            {{ post.title }}
            <img class="post-image mb-3" src="{{ post.image.url }}" alt="{{post.image}}" /> -->

        {% endfor %}
    </div>
{% endblock %}
