{% extends "base.html" %}
{% load static %}


{% block title %}
    Lemonpy | Post Detail
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static "blog_app/single_post.css" %}">
{% endblock %}


{% block content %}
    <div class="container text-center mt-5">
        <h2 class="container h2-div">{{post.title}}</h2>
        <h6 class="container h6-div">{{post.author}} • {{post.date}}</h6>

        <img class="post-image" src="{{ post.image.url }}" alt="{{post.title}}" />
        <br>
        {% if request.user == post.author %}
            <div class="container update-delete-div">
                <br>
                <a class="btn btn-dark" href="{% url "update-post" post.slug %}">Update</a>
                <br>
                <br>
                <a class="btn btn-danger" href="{% url "delete-post" post.slug %}">Delete</a>
                <br>
            </div>
        {% endif %}
    </div>
{% endblock %}
