{% extends "base.html" %}
{% load static %}


{% block title %}
    Lemonpy | Post Detail
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static "blog_app/single_post.css" %}">
{% endblock %}


{% block content %}
    <div class="container text-center mt-5 main-div" >
        <h2 class="container h2-div">{{post.title}}</h2>
        <h6 class="container h6-div">{{post.author}} • {{post.date}}</h6>


        <img class="post-image mb-3" src="{{ post.image.url }}" alt="{{post.image}}" />
        <br>

            {% if request.user != post.author %}
                <form method="post">
                    {% csrf_token %}
                    <div class="container like-div">
                        {% if not is_liked %}
                            <button class="like-btn ps-0" name="like" value="like "href="{% url "single-post" post.slug %}">♡</button>
                        {% else %}
                            <button class="like-btn ps-0" name="like" value="unlike "href="{% url "single-post" post.slug %}">❤️</button>
                        {% endif %}
    
                        <button class="btn">Likes: {{ total_likes }}</button>    
                    </div>
                </form>
            {% else %}
                <div class="container update-delete-div">
                    <a class="btn btn-dark" href="{% url "update-post" post.slug %}">Update</a>
                    <a class="btn btn-danger" href="{% url "delete-post" post.slug %}">Delete</a>
                    <button class="btn btn-outline-dark" disabled>Likes: {{ total_likes }}</button>    
                </div>
                <br>
            {% endif %}
            <div class="container div-content ps-3">
                <p class="text-content">{{ post.content }}</p>
            </div>




    </div>
{% endblock %}
