{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
Lemonpy | Login
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static "blog_app/css/login.css" %}">
{% endblock %}


{% block content %}
<div class="container login">
    <h1 class="mb-3 h1-login">Login</h1>

    <form class="mt-4" action="" method="POST" novalidate>
        {% csrf_token %}
        {{ form | crispy }}
        
        <input id="form-sytle" type="hidden" name="next" value="{{next}}" />
        <input type="submit" value="Login" class="btn btn-dark" />

        <br>
        <br>
        <br>
        <p><a href="{% url "register" %}" >Create New Account</a></p>

    
    </form>
</div>
{% endblock %}