body {
    background-color: #FFFFD2;
}

.update {
    width: 700px;
}

#id_title {
    background-color: #f6f6df;
}

#id_rating {
    background-color: #f6f6df;
}

#id_image_name {
    background-color: #f6f6df;
}

#id_content {
    background-color: #f6f6df;
}


.form-control:focus {
    border-color: black;
    box-shadow: 0 0 0 0.25rem black;
}