body {
    background-color: #FFFFD2;
}

.password_change_form {
    width: 350px;
}

.password_change_done {
    width: 600px;
}

.form-sytle {
    background-color: black;
}

#id_old_password {
    background-color: #f6f6df;
}

#id_new_password1 {
    background-color: #f6f6df;
}

#id_new_password2 {
    background-color: #f6f6df;
}

.form-control:focus {
    border-color: black;
    box-shadow: 0 0 0 0.25rem black;
}